@import "fonts/w95/stylesheet.css";
@import "fonts/MicrosoftSansSerif/stylesheet.css";
@import "fonts/mini-wakuwaku/stylesheet.css";


html {
  height: 100%;
}

body{
  background: var(--html-background);
  margin: 0px;
  overflow-x: hidden;
}

div {
  margin: 0px;
  padding: 0px;
  --shad-right: 0.075cm;
  --shad-down: 0.125cm;
  --shad-color: #11111140;
}

p {
  -webkit-font-smoothing : none;
  font-family: "MicrosoftSansSerif";
  font-size: 0.4cm;
  text-shadow: 0px 0px 0.2em #633a3a;
  color: black;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: underline;
}
a:hover{
  opacity:30%;
}

.inlineimg {
  height:1em;
}

.maskOff {
  -webkit-font-smoothing : antialiased;
  font-family: 'mini-wakuwakuregular';
  text-shadow: none;
  color: #999999;
}
.maskOff a, .maskOff input[type=submit] {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.maskOff input[type=submit] {
  background: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  height: 1.2em;
  border: none;
}
.maskOff input[type=submit]:hover {
  opacity:30%;
}

/* ======================================Email Container======================================= */


@keyframes flashIn {
  from { background: #eea95eaa; }
  to { background: #fe00ff00; }
}
.emailContainer {
  padding: 0.4cm 0cm;
  width: 100%;
  border: 1px white solid;
  border-color: transparent;
  border-bottom-color: black;

  animation-name: flashIn;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.43, -0.46, 0.55, 0.71);
  animation-duration: 0.8s;
}

/* ======================================Email Header======================================= */

.emailHeader {
  margin: 0.1cm 0.2cm;
  /* margin-right: 10%; */
}
.emailHeader:after {
  content: "";
  display: table;
  clear: both;
}

.emailHeaderText, .emailHeaderImage {
  --header-text-padding: 0.2cm;
  --header-text-lines: 2;
  --header-image-margin-left: 10px;
  --header-image-size: calc(1em * var(--header-text-lines) + var(--header-text-padding) * 2);
  --header-text-width: calc(100% - var(--header-image-size) - var(--header-image-margin-left) - var(--header-text-padding) * 2 - 1px);
}

.emailHeaderText {
  background: var(--email-header);
  padding: var(--header-text-padding);
  float: left;
  height: calc(1em * var(--header-text-lines) + 2px);
  width: var(--header-text-width);
  overflow-x: hidden;
}
.headerTextName {
  -webkit-font-smoothing : auto;
  /* text-shadow: 1px 0px 0px black; */
}

.emailAddress {
  font-family: monospace;
  opacity: 0.5;
}

.emailHeaderImage {
  float: right;
  height: var(--header-image-size);
  margin-left: var(--header-image-margin-left);
}
.emailHeaderImage img {
  height: 100%;
}

/* ======================================Email Body======================================= */


.emailBody {
  padding: 0.2cm 0cm;
}
.emailBody p {
  /* border-left: 1px solid black; */
  /* background: #eeeeee; */
  padding: 0cm 0.3cm;
}

/* ======================================Email Closer======================================= */

.emailCloser {
  width: calc(100%-0.6cm);
  padding: 1cm 0.3cm;
}
.emailCloser p {
  text-align: center;
}

.noNewMail {
  opacity: 0.5;
}

/* ======================================Attachments Section======================================= */


.attachments {
  padding: 0.1cm;

  display: flex;
  flex-wrap: wrap;
}

.imgAttachment {
  position: relative;
  float: left;
  height: 2cm;
  padding: 0.25cm;
}
.imgAttachment img {
  height: 100%;
}

.paperClip {
  position: absolute;
  /* top: 70%;
  left: 80%; */
  right: -10px;
  bottom: 0px;
  height: 30%;
  width: 30%;
  display: flex;
}


/* ==================================Drop Shadows============================= */

.imgAttachment img, .emailHeaderText, .emailHeaderImage img {
  -webkit-filter: drop-shadow(var(--shad-right) var(--shad-down) 0px var(--shad-color));
  filter: drop-shadow(var(--shad-right) var(--shad-down) 0px var(--shad-color));
}


/* ==================================Clickable elements============================= */

.imgAttachment:hover img, .emailHeaderImage:hover img {
  opacity: 0.3;
  /* transform: translate(var(--shad-right), var(--shad-down)); */
  -webkit-filter: none;
  filter: none;
  -webkit-filter: grayscale(75%);
  filter: none grayscale(75%);
}

.button {
  background: var(--button);
  -webkit-font-smoothing : none;
  font-family: "MicrosoftSansSerif";
  font-size: 0.4cm;
  text-shadow: 0px 0px 0.2em #633a3a;
  color: black;
  margin: 0px;
  padding: 0px;
}
.button:hover, .button:active {
  border-left-color: var(--ridge-dark);
  border-top-color: var(--ridge-dark);
  border-right-color: var(--ridge-light);
  border-bottom-color: var(--ridge-light);
}

/* ==================================Screen overlay============================= */

.screenTextureSizing {
    z-index: 50;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events:none;
  --minU: min(1vw + 1vh);
}

.edgeShadow {
  box-shadow: inset 0 0vh calc(var(--minU) * 4) var(--screen-texture-shadow);
  opacity: 30%;
}

.edgeShadowSharp {
  box-shadow: inset 0 0vh calc(var(--minU) * 2) black;
  opacity: 50%;
}

/* =================================Mobile styling============================= */

.mobileHide {
}

@media all and (max-width: 100vh) {
  .mobileHide {display: none;}
}


/* =================================Loading Screen============================= */

@keyframes fallOff {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  86% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 120%) rotate(30deg);
  }
}
.loadingScreen {
    z-index: 10;
  position:fixed;top:0cm;left:0cm;bottom:0cm;right:0cm;
  background-color: var(--windows-background);

  transform: translate(0%, 120%) skew(60deg, 20deg);

  box-shadow: 1cm 1cm 1cm #00000055;
  animation-name:fallOff;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.64,-0.35,.99,.35);
  animation-duration: 7s;
}
.loadingScreenContent {
  position:fixed;
  width: 50%;
  left: 25%;
  --h: calc(2em);
  height: var(--h);
  top: calc(50% - 0.5 * var(--h));
}
@media all and (max-width: 100vh) {
  .loadingScreenContent {
    width: 80%;
    left: 10%;
  }
}
.loadingBarParent {
  width:100%;
  height:calc(1em + 18px);
}

@keyframes loadBarAcross {
  0% {width: 0%;}
  20% {width: 10%;}
  100% {width: 100%;}
}
.loadingBarFill {
  position:absolute;
  left:0px;top:0px;
  width:100%;
  height:1em;
  background-color:var(--loading-bar);
  animation-name:loadBarAcross;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.02,.56,.96,.5);
  animation-duration: 6s;
}
.loadingBarLabel {
  text-align: center;
}

@keyframes disappear {
  0% {opacity: 1;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}
.fadeIn {
    z-index: 100;
  position:fixed;top:0cm;left:0cm;bottom:0cm;right:0cm;
  background: black;
  opacity: 0;
  animation-name: disappear;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1.25s;
}








.windowBGColor {
  background-color: var(--windows-background);
}

.floatingWindowText {
  pointer-events: all;
  padding: 0.1cm 0.1cm;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--floating-window-textbox);
}
.floatingWindowText, .floatingWindowText p {
  color: var(--floating-window-text)
}

.windowLabel {
  pointer-events: all;
  padding: 0.1cm 0.1cm;
  width: calc(100% - 0.2cm);
  white-space: nowrap;
  overflow: hidden;
  background: var(--window-label);
}
.windowLabel p {
  color: var(--window-label-text);
}
.windowLabel:hover {
  opacity: 0.3;
}

.contentShadow {
  box-shadow: inset 0px 20px 20px #400000aa
}

.screenBackground {
    z-index: -10;
  position:fixed;top:0cm;left:0cm;bottom:0cm;right:0cm;
  background-color: var(--content-background);
}

.aboveBorders {
    z-index: 8;
  padding:0.25cm;
  position: fixed;
}
