div, body, html {
  --ridge-light: #99bfc1;
  --ridge-flat: #799c9c;
  --ridge-dark: #233e37;
  --windows-background: #496561;
  --content-background: #dfdcc0;
  /* --html-background: var(--content-background); */
  --html-background: black;

  --window-label: #3d58ff;
  /* --window-label-text: #99bfc1; */
  --window-label-text: white;

  --email-header: #799c9c;

  --floating-window-text: black;
  --floating-window-textbox: white;
  /* --floating-window-textbox: var(--windows-background); */
}
