/* ======================================Link Popup======================================= */
.linkPopupParent {
    z-index: 10;
  pointer-events: none;
  position: fixed;top:0cm;left:0cm;bottom:0cm;right:0cm;
  overflow: hidden;
}
.floatingWindow {
  box-shadow: 0.3cm 0.5cm 0px #11113340;
}
.popupBackground {
  display: none;/* Altered at runtime */
  pointer-events: all;
  position: fixed;top:0cm;left:0cm;bottom:0cm;right:0cm;
  background-color: #00000040;
  box-shadow: inset 0 0 20px black;
}
/* ======================================Attachment window======================================= */
.windowMover {
  display: none;/* Altered at runtime */
  pointer-events: all;
  /* overl.js depends on these values */
  width: 90vw;max-width: 90vw;
  height: 70vh;max-height: 70vh;
  /* center in parent div */
  position: fixed;
  left: 42%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.windowSizer {
  margin: 0%;
  width: 100%;
  height: 100%;
}
.imageContainer {
  height: calc(100% - 1em - 0.2cm);
  width: calc(100%);
}
.imagePopupImg {
  height: calc(100% - 2*var(--inset-width));
  width: calc(100% - 2*var(--inset-width));
}

/* ======================================Credits footer======================================= */

.ImageCredits {
    z-index: 12;
  display: none; /* Altered at runtime */
  pointer-events: all;
  position: fixed;
    left: 0px;
    bottom: 0px;
  width: 100%;
}
.ImageCreditsText {
  padding:1em;
  background-color: black;
}
.ImageCreditsText p {
  text-align: center;
  font-size:1.5em;
}

/* ======================================Music window======================================= */

.musicWindowBackground {
  background: var(--content-background);
}
.musicTransform {
  display: none;/* Altered at runtime */
  pointer-events: all;
  --side: min(90vw, 50vh);
  width: var(--side);
  height: var(--side);
  /* center in parent div */
  position: fixed;
  left: 50%;
  top: calc(100% - 2em);
  transform: translate(-50%, -50%);
}
.albumDataArea {
  position: fixed;
  top:calc(4*var(--outset-width) + 1em);
  bottom:calc(2*var(--outset-width));
  left:calc(2*var(--outset-width));
  right:calc(2*var(--outset-width));
}
.albumCover {
  position: absolute;
  top:0px;
  left:0px;
  width:calc(70% - 2 * var(--inset-width));
  height:calc(70% - 2 * var(--inset-width));
}
.albumDataRight {
  position: absolute;
  top:0px;
  right:0px;
  width:calc(30% - 2px);
  height:70%;
}
.albumDataBottom {
  position: absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:calc(30% - 4px);
}
.audioplayer {
  position: absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:10%;
  background: transparent;
}

/* ======================================Compose window======================================= */

.composeWindowBackground {
  background: var(--content-background);
}
.composeTransform {
  pointer-events: all;
  width:80%;
  height:80%;
  /* center in parent div */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input, textarea {
  -webkit-font-smoothing : none;
  font-family: "MicrosoftSansSerif";
  font-size: 0.4cm;
  text-shadow: 0px 0px 0.2em #633a3a;
  color: black;
  margin: 0px;
  padding: 4px;
}

.EmailComposeContent {
  position: absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:calc(1em + 8px);
}

.composeRecipients {
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:1em;
  padding:4px;
}

.EmailForm {
  position: absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:calc(1em + 8px);
  padding:4px;
}

.composeTransform textarea {
  width:calc(100% - 2 * var(--inset-width) - 8px);
  resize: none;
  height:calc(90% - 2 * var(--inset-width) - 8px);
  overflow: auto;
}

.submitParent {
  width:calc(100% - 2 * var(--inset-width) - 8px);
  height: 10%;
  resize: none;
}
