/* ======================================Link Popup======================================= */

/* from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay */
.linkPopupParent {
  z-index: 10;
  pointer-events: none;

  position: fixed;
    top:0cm;
    left:0cm;
    bottom:0cm;
    right:0cm;

  overflow: hidden;
}

.floatingWindow {
  box-shadow: 0.3cm 0.5cm 0px #11113340;
}

.windowMover {
  /* Altered at runtime */
  display: none;

  pointer-events: all;

  /* resizeAttachmentWindow.js DEPENDS ON THESE VALUES! DON'T EDIT CARELESSLY */
  width: 90vw;
  height: 70vh;
  max-width: 90vw;
  max-height: 70vh;

  /* center in parent div */
  position: fixed;
  left: 42%;
  top: 35%;
  transform: translate(-50%, -50%);
  /* --- */
}

.windowSizer {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 100%;
  height: 100%;
}

.imageContainer {
  height: calc(100% - 1em - 0.2cm);
  width: calc(100%);
}
.imagePopupImg {
  height: calc(100% - 2*var(--inset-width));
  width: calc(100% - 2*var(--inset-width));
}

.ImageCredits {
  /* Altered at runtime */
  display: none;

  pointer-events: all;

  z-index: 12;

  position: fixed;
    left: 0px;
    bottom: 0px;

  width: 100%;
}
.ImageCreditsText {
  padding:1em;
  background-color: black;
}
.ImageCreditsText p {
  text-align: center;
  font-size:1.5em;
}

.musicTransform {
  /* Altered at runtime */
  display: none;

  pointer-events: all;

  --unit: min(1vw, 1vh);
  --side: calc(var(--unit) * 50);
  /* --posX: calc(var(--unit) * 50); */

  width: max(var(--side), min(10em, 90vw));
  height: var(--side);

  /* center in parent div */
  position: fixed;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -2em);
  /* --- */
}
.albumDataArea {
  position: fixed;
  top:calc(4*var(--outset-width) + 1em);
  bottom:calc(3*var(--outset-width) + 10%);
  left:calc(2*var(--outset-width));
  right:calc(2*var(--outset-width));
}
.albumCover {
  position: absolute;
  top:0px;
  left:0px;
  width:calc(70% - 2px - 2 * var(--inset-width));
  height:calc(70% - 2 * var(--inset-width));
}
.albumDataRight {
  position: absolute;
  top:0px;
  right:0px;
  width:calc(30% - 2px);
  height:70%;
}
.albumDataBottom {
  position: absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:calc(30% - 4px);
}
.audioplayer {
  position: fixed;
  bottom:calc(2*var(--outset-width));
  left:calc(2*var(--outset-width));
  width:calc(100% - var(--outset-width) * 4);
  height:10%;

  /* background:white; */
}

.popupBackground {
  /* Altered at runtime */
  display: none;

  pointer-events: all;

  position: absolute;
    top:0cm;
    left:0cm;
    bottom:0cm;
    right:0cm;

  background-color: #00000040;
  box-shadow: inset 0 0 20px black;
}
