.mainContentMargins, .sideContentMargins, .mainContentParent, .sideContentParent {
  --screenBorder-Offset: 0.5cm;
  --content-padding: calc(0.2cm + 5px);

  --inset-bottom: 1cm;
  --inset-right: 30vw;
  --inset-top: 0.5cm;
  --inset-left: 0cm;
}
@media all and (max-width: 100vh) {
  .mainContentMargins, .sideContentMargins, .mainContentParent, .sideContentParent {
    --inset-bottom: 1cm;
    --inset-right: 0cm;
    --inset-top: 0.5cm;
    --inset-left: 0cm;
  }
}

.mainContentParent {
  --base-padding: calc(var(--screenBorder-Offset) + var(--content-padding));
  padding:
  calc(var(--base-padding) + var(--inset-top))
  calc(var(--base-padding) + var(--inset-right))
  calc(var(--base-padding) + var(--inset-bottom))
  calc(var(--base-padding) + var(--inset-left));
  height: 100%;
}

.sideContentParent {
  padding: var(--content-padding);
  overflow: scroll;
  position: relative;
  pointer-events: all;
  height: calc(100% - 2*var(--content-padding));
}

/* The grey area outside the boundaries of the screen */
.mainContentMargins {
    z-index: 2;
  pointer-events: none;
  position: fixed;
    top:0cm;
    left:0cm;
    bottom:0cm;
    right:var(--inset-right);
  border: 0cm var(--windows-background) solid;
  background-color: transparent;
  border-width:
  calc(var(--screenBorder-Offset) + var(--inset-top))
  var(--screenBorder-Offset)/* calc(var(--screenBorder-Offset) + var(--inset-right)) */
  calc(var(--screenBorder-Offset) + var(--inset-bottom))
  calc(var(--screenBorder-Offset) + var(--inset-left));
}

.sideContentMargins {
    z-index: 2;
  pointer-events: none;
  --sideContent-bottom-margin: 15vh;
  position: fixed;
    top:0cm;
    left:calc(100% - var(--screenBorder-Offset) - var(--inset-right));
    bottom:0cm;
    right:0cm;
  border: 0cm var(--windows-background) solid;
  background-color: transparent;
  border-width:
  calc(var(--screenBorder-Offset) + var(--inset-top))
  var(--screenBorder-Offset)/* calc(var(--screenBorder-Offset) + var(--inset-right)) */
  calc(var(--screenBorder-Offset) + var(--inset-bottom) + var(--sideContent-bottom-margin))
  calc(var(--screenBorder-Offset) + var(--inset-left))
}
@media all and (max-width: 100vh) {
  .sideContentMargins {display: none;}
}

/* ===================GENERIC NESTABLE BORDERS FOR RIDGE EFFECT==================== */

.screenBorder-Outset, .screenBorder-Plateau, .screenBorder-Inset {
    z-index: 3;
  position: relative;
  background-color: transparent;
}

.outsetBorders, .screenBorder-Outset {
  --outset-width: 4px;
  border-width: var(--outset-width);
  border-style: solid;
  border-left-color: var(--ridge-light);border-top-color: var(--ridge-light);
  border-right-color: var(--ridge-dark);border-bottom-color: var(--ridge-dark);
  box-shadow: -2px -2px 5px #00000044;
}
/* The outermost border in the raised ridge outline */
    .screenBorder-Outset {
      --width-height: calc(100% - var(--outset-width) * 2);
      width: var(--width-height);
      height: var(--width-height);
    }

.plateautBorders, .screenBorder-Plateau {
  --plateau-width: 5px;
  border-width: var(--plateau-width);
  border-style: solid;
  border-color: var(--ridge-flat);
}
/* The middle border in the raised ridge outline */
    .screenBorder-Plateau {
      --width-height: calc(100% - var(--plateau-width) * 2);
      width: var(--width-height);
      height: var(--width-height);
    }

.insetBorders, .screenBorder-Inset {
  --inset-width: 4px;
  border-width: var(--inset-width);
  border-style: solid;
  border-left-color: var(--ridge-dark);border-top-color: var(--ridge-dark);
  border-right-color: var(--ridge-light);border-bottom-color: var(--ridge-light);
}
/* The innermost border in the raised ridge outline */
    .screenBorder-Inset {
      --width-height: calc(100% - var(--inset-width) * 2);
      width: var(--width-height);
      height: var(--width-height);
    }
